<section class="symptoms">
    <div class="container">
        <h2 class="title symptoms__title">
            О болезни "говорят" следующие симптомы:
        </h2>
        <div class="symptoms__container">
            <div class="symptoms__items">
                <div class="symptoms__items-img">
                    <img src="" alt="foto" class="symptoms__items-foto">
                </div>
                <p class="symptoms__item-text">
                    Выступающие вены
                </p>
            </div>
            <div class="symptoms__items">
                <div class="symptoms__items-img">
                    <img src="" alt="foto" class="symptoms__items-foto">
                </div>
                <p class="symptoms__item-text">
                    Пульсирующая боль
                </p>
            </div>
            <div class="symptoms__items">
                <div class="symptoms__items-img">
                    <img src="" alt="foto" class="symptoms__items-foto">
                </div>
                <p class="symptoms__item-text">
                    Отечность
                </p>
            </div>
            <div class="symptoms__items">
                <div class="symptoms__items-img">
                    <img src="" alt="foto" class="symptoms__items-foto">
                </div>
                <p class="symptoms__item-text">
                    Тяжесть в&nbsp;ногах
                </p>
            </div>
        </div>
    </div>
</section>