<section class="symptoms block">
    <div class="container">
        <h2 class="title symptoms__title">
            О болезни “говорят” следующие симптомы:
        </h2>
        <div class="symptoms__container">
            <div class="symptoms__item">
                <div class="symptoms__item-img">
                    <img src="img/symptoms__img-1.png" alt="foto" class="symptoms__item-foto">
                </div>
                <p class="symptoms__item-text">
                    Выступающие вены
                </p>
            </div>
            <div class="symptoms__item">
                <div class="symptoms__item-img">
                    <img src="img/symptoms__img-2.png" alt="foto" class="symptoms__item-foto">
                </div>
                <p class="symptoms__item-text">
                    Пульсирующая боль
                </p>
            </div>
            <div class="symptoms__item">
                <div class="symptoms__item-img">
                    <img src="img/symptoms__img-3.png" alt="foto" class="symptoms__item-foto">
                </div>
                <p class="symptoms__item-text">
                    Отечность
                </p>
            </div>
            <div class="symptoms__item">
                <div class="symptoms__item-img">
                    <img src="img/symptoms__img-4.png" alt="foto" class="symptoms__item-foto">
                </div>
                <p class="symptoms__item-text">
                    Тяжесть в&nbsp;ногах
                </p>
            </div>
        </div>
    </div>
</section>