<div class="main__text">
  <h1 class="main__title"><strong>ФЛЕАТОН</strong> — средство от варикоза</h1>
  <p class="main__subtitle"><strong>Рецепты</strong> народной медицины в&nbsp;<mark>одной</mark> таблетке</p>
  <div class="main__advantages">
    <h2 class="main__advantages-label">Избавьтесь от варикоза легко <br>и в домашних условиях</h2>
    <ul class="main__list">
      <li class="main__list-item">Снимает отеки и воспаления</li>
      <li class="main__list-item">Препятствует образованию тромбов</li>
      <li class="main__list-item">Укрепляет сосудистые стенки</li>
      <li class="main__list-item">Возвращает ногам эстетичный вид</li>
    </ul>
  </div>
</div>