<header class="main block">
    <div class="main__container container">
        <div class="main__girl">
            <img src="img/main-girl.png" alt="">
        </div>
        <div class="main__content">
            <!--=include ./main__text.html -->
            <div class="main__product">
                <p class="main__product-note">с экстрактом <span class="accent-green">конского каштана</span> <br>с Балкан</p>
                <div class="main__pack pack">
                    <img src="img/product-pack.png" alt="" class="pack__product">
                    <img src="img/product-chesnut.png" alt="" class="pack__chesnut">
                </div>
            </div>
            <div class="main__form">
                <!--=include ../form/form.html -->
            </div>
        </div>
    </div>
</header>