.pack {
  position: relative;
}

.pack__product {
  display: block;
  max-width: 80.73%;
  margin-left: auto;
  margin-bottom: 7.12%;
}

.pack__chesnut {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 42.58%;
}