<div class="price__cell price__cell--previous">
  <p class="price__label price__label--previous">Старая цена</p>
  <p class="price__cost price__cost--previous">
    <span class="x_price_previous">1980</span><span class="x_currency">руб</span>
  </p>
</div>
<div class="price__cell price__cell--current">
  <p class="price__label price__label--current">Новая цена</p>
  <p class="price__cost price__cost--current">
    <span class="x_price_current">990</span><span class="x_currency">руб</span>*
  </p>
</div>