<section class="uses block">
    <div class="uses__container container">
        <h2 class="uses__title title">Как принимать <strong class="accent-orange">Флеатон</strong></h2>
        <div class="uses__content">
            <div class="uses__how-to decoration-border">
                <h3 class="uses__caption accent-orange">Выпивайте</h3>
                <ul class="uses__list">
                    <li class="uses__item uses__item--01">По одной таблетке</li>
                    <li class="uses__item uses__item--02">Два раза в день</li>
                    <li class="uses__item uses__item--03">В течении <br>не менее 30 дней</li>
                </ul>
            </div>
        </div>
        <div class="uses__person">
            <img src="img/uses-person.png" alt="" class="girl">
            <div class="uses__pack pack">
                <img src="img/product-pack.png" alt="" class="pack__product">
                <img src="img/product-chesnut.png" alt="" class="pack__chesnut">
            </div>
        </div>
    </div>
</section>
