<section class="uses">
    <div class="container">
        <h2 class="title uses__title">
            Как принимать <span class="uses__title-orange">Флеатон</span>
        </h2>
        <div class="uses__content">
            <span class="uses__line uses__line--top"></span>
            <h3 class="uses__des">Выпивайте</h3>
            <ul class="uses__list">
                <li class="uses__item">
                    <span class="uses__item-num">
                        1
                    </span>
                    <p class="uses__item-text">
                        По одной таблетке
                    </p>
                </li>
                <li class="uses__item uses__item--reverse">
                    <span class="uses__item-num">
                        2
                    </span>
                    <p class="uses__item-text">
                        Два раза в день
                    </p>
                </li>
                <li class="uses__item">
                    <span class="uses__item-num">
                        3
                    </span>
                    <p class="uses__item-text">
                        В течении <br>
                        не менее 30 дней
                    </p>
                </li>
            </ul>
            <span class="uses__line uses__line--bottom"></span>

        </div>
    </div>
</section>