<section class="warning">
    <div class="container">
        <h2 class="title warning__title">
            Чем <span class="red">опасен</span> варикоз?
        </h2>
        <h3 class="warning__subtitle">
            К нему нельзя относиться легкомысленно, ведь он
            <span class="red">провоцирует серьезные осложнения</span>
        </h3>
        <div class="warning__content">
            <div class="warning__item">
                <div class="warning__item-img">
                    <img src="" alt="foto" class="warning__item-foto">
                </div>
                <h4 class="warning__item-title">Тромбоз</h4>
                <p class="warning__item-text">Оторвавшийся тромб может стать причиной инфаркта или инсульта</p>
            </div>
            <div class="warning__item">
                <div class="warning__item-img">
                    <img src="" alt="foto" class="warning__item-foto">
                </div>
                <h4 class="warning__item-title">Трофичиские язвы</h4>
                <p class="warning__item-text">Возникают из-за нарушения кровообращения</p>
            </div>
            <div class="warning__item">
                <div class="warning__item-img">
                    <img src="" alt="foto" class="warning__item-foto">
                </div>
                <h4 class="warning__item-title">Кровотечения</h4>
                <p class="warning__item-text">Небольшие травмы приводят к обильным кровотечениям</p>
            </div>
            <div class="warning__item">
                <div class="warning__item-img">
                    <img src="" alt="foto" class="warning__item-foto">
                </div>
                <h4 class="warning__item-title">Варикозная экзема</h4>
                <p class="warning__item-text">Сопровождается отеком, шелушением и сильным зудом</p>
            </div>
        </div>
    </div>
</section>