<section class="warning grey block">
    <div class="container">
        <h2 class="title warning__title">
            Чем <span class="red">опасен</span> варикоз?
        </h2>
        <h3 class="warning__subtitle">
            К нему нельзя относиться легкомысленно, ведь он
            <span class="red">провоцирует серьезные осложнения</span>
        </h3>
        <div class="warning__content">
            <div class="warning__item warning__item--mt">
                <div class="warning__item-img">
                    <img src="img/warning__img-1.png" alt="foto" class="warning__item-foto">
                </div>
                <h4 class="warning__item-title warning__item-title--mt">Тромбоз</h4>
                <p class="warning__item-text">Оторвавшийся тромб может стать причиной инфаркта или инсульта</p>
            </div>
            <div class="warning__item">
                <div class="warning__item-img">
                    <img src="img/warning__img-2.png" alt="foto" class="warning__item-foto">
                </div>
                <h4 class="warning__item-title ">Трофические язвы</h4>
                <p class="warning__item-text">Возникают <br> из-за нарушения <br> кровообращения</p>
            </div>
            <div class="warning__item">
                <div class="warning__item-img">
                    <img src="img/warning__img-3.png" alt="foto" class="warning__item-foto">
                </div>
                <h4 class="warning__item-title ">Кровотечения</h4>
                <p class="warning__item-text">Небольшие травмы приводят к&nbsp;обильным кровотечениям</p>
            </div>
            <div class="warning__item warning__item--mt">
                <div class="warning__item-img">
                    <img src="img/warning__img-4.png" alt="foto" class="warning__item-foto">
                </div>
                <h4 class="warning__item-title warning__item-title--mt">Варикозная экзема</h4>
                <p class="warning__item-text">Сопровождается отеком, шелушением и&nbsp;сильным зудом</p>
            </div>
        </div>
        <h3 class="warning__des red">
            Летальный исход
        </h3>
        <p class="warning__footer">
            наступает в <span class="red">76%</span> случаев
        </p>
    </div>
</section>