<!--REVIEWS START-->
<section class="reviews block">
    <div class="container">
        <h2 class="title">
            Отзывы о <span class="prod-name">Флеатоне</span>
        </h2>
        <svg xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             width="26px" height="24px" class="reviews__arrow reviews__arrow_right">
            <path fill-rule="evenodd"  fill="#babec7"
                  d="M14.567,0.352 C14.074,-0.132 13.298,-0.132 12.805,0.352 C12.329,0.817
                  12.329,1.592 12.805,2.055 L21.738,10.772 L1.251,10.772 C0.563,10.772
                  -0.001,11.306 -0.001,11.976 C-0.001,12.646 0.563,13.197 1.251,13.197
                  L21.738,13.197 L12.805,21.900 C12.329,22.382 12.329,23.155 12.805,23.617
                  C13.298,24.099 14.074,24.099 14.567,23.617 L25.614,12.837 C26.091,12.372
                  26.091,11.598 25.614,11.133 L14.567,0.352 Z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             width="26px" height="24px" class="reviews__arrow reviews__arrow_left">
            <path fill-rule="evenodd"  fill="#babec7"
                  d="M11.415,0.352 C11.909,-0.132 12.686,-0.132 13.179,0.352
                  C13.656,0.815 13.656,1.590 13.179,2.053 L4.235,10.759 L24.747,10.759
                  C25.435,10.759 26.000,11.291 26.000,11.961 C26.000,12.629 25.435,13.180
                  24.747,13.180 L4.235,13.180 L13.179,21.872 C13.656,22.353 13.656,23.125
                  13.179,23.587 C12.686,24.068 11.909,24.068 11.415,23.587 L0.354,12.820
                  C-0.123,12.356 -0.123,11.584 0.354,11.119 L11.415,0.352 Z"/>
        </svg>
        <div class="reviews__list">
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews1.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Мария, 45 лет,
                        </span>
                        <span class="reviews__city">
                            г. Владимир
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text">
                    Примерно год назад у меня на ногах появились “звездочки”.
                    Не&nbsp;скажу, что они прям сильно болели,
                    но выглядело это очень неэстетично.
                    До того, как попробовать Флеатон,
                    я пробовала много препаратов.
                    Эти таблетки очень быстро вернули мои ноги
                    в&nbsp;нормальное состояние!
                </div>
                <div class="icon-more">
                    <div class="icon-more__in"></div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews2.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Александр, 47 лет,
                        </span>
                        <span class="reviews__city">
                            г. Барнаул
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars5.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text">
                    У супружницы после родов стали страдать ноги от варикоза.
                    Компрессы, мази, бинтования —
                    и&nbsp;эта жуть продолжалась уже лет 10.
                    Как-то услышал о таблетках Флеатон от коллеги и&nbsp;решил их жене прикупить тоже.
                    Скажу как есть, особых надежд не было, но спустя 3
                    недели ей действительно стало легче.
                    Теперь никаких компрессов с мокрицей
                    по вечерам.
                </div>
                <div class="icon-more">
                    <div class="icon-more__in"></div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews3.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Варвара, 44 года,
                        </span>
                        <span class="reviews__city">
                            г. Москва
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    Я работала в магазине продавщицей.
                    От стояния по 10-12 часов в день развился варикоз.
                    На&nbsp;икре был очень болезненный узелок и вены все видны как под стеклом.
                    Не могла даже на рынок сходить купить что нибудь — возвращалась,
                    хромая на одну ногу. Подруга мне сказала, что к
                    врачам нет смысла идти, поэтому я занялась своей проблемой сама.
                    Пила таблетки Флеатон, принимала контрастный душ.
                    Делала это каждый день и через месяц увидела результаты:
                    узелок стал меньше болеть, вены почти не видны.
                    А еще я теперь с рынка возвращаюсь как нормальный человек.
                </div>
                <div class="icon-more">
                    <div class="icon-more__in"></div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews4.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Вера, 51 лет,
                        </span>
                        <span class="reviews__city">
                            г. Казань
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars5.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    Воюю с варикозом уже давно.
                    Чего только не пробовала лишь бы избавиться от этой напасти —
                    и компрессионные чулки,
                    и компрессы со всем чем только можно. Один раз даже на пиявки решилась... Это был ужас, который до сих пор мне ночью снится. На каком-то из форумов узнала о таблетках Флеатон. Начиталась позитивных отзывов и заказала себе. Посылка пришла вовремя
                    и понравилось, что оплатить ее можно при получении.
                    О результатах пока рано что то говорить.
                </div>
                <div class="icon-more">
                    <div class="icon-more__in"></div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews5.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Марина, 48 лет,
                        </span>
                        <span class="reviews__city">
                            г. Омск
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    Голубоватые узелки и опухшие ноги к вечеру — вот
                    она расплата за любовь к высоким каблукам.
                    Хоть я уже давно не могу позволить себе такую обувь,
                    но варикоз от этого никуда не пропал.
                    Наоборот со временем все симптомы начали только усугубляться.
                    Таблетки флеатон стали для меня настоящим открытием.
                    Думала так и буду ходить всю жизнь в балетках и брюках.
                    Ан-нет! Пропила их около месяца и все как рукой сняло!
                    Всем рекомендую!
                </div>
                <div class="icon-more">
                    <div class="icon-more__in"></div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews6.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Николай, 54 года,
                        </span>
                        <span class="reviews__city">
                            г. Челябинск
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars5.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    У меня варикоз уже давно, все из-за стоячей работы.
                    Особо внимания на него не обращал, думал ничего страшного.
                    А тут у меня друг неожиданно умер (как и я на заводе работал).
                    Сделали вскрытие и оказалось, что тромб в венах на ногах оторвался
                    и от этого у него произошел инфаркт, а потом и смерть…
                    Вот тут то мне стало страшно и я заказал таблетки
                    Флеатон, которые мне посоветовала сестра.
                    Пропил их и знаете стал чувствовать себя гораздо лучше.
                    Прошли отеки, а ноги не болят даже к концу рабочего дня.
                </div>
                <div class="icon-more">
                    <div class="icon-more__in"></div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews7.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Анна, 61 год,
                        </span>
                        <span class="reviews__city">
                            г. Екатеринбург
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars5.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    Долго решалась на операцию
                    (это все таки дорогое и опасное удовольствие).
                    Уж было окончательно решилась, как знакомая флеболог рассказала,
                    что удаление “выпирающих” вен
                    не решит проблему с сосудами.
                    Потом мне знакомая порекомендовала флеатон.
                    Поначалу забывала их пить вечером, но потом привыкла.
                    Понравилось, что не нужно ничего намазывать, втирать,
                    ждать пока впитается. Просто выпил,
                    а дальше таблетки сами делают свое дело.
                    Сейчас чувствую себя лучше и визуально почти ничего не видно.
                </div>
                <div class="icon-more">
                    <div class="icon-more__in"></div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews8.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Григорий, 65 лет,
                        </span>
                        <span class="reviews__city">
                            г. Нижний Новгород
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text">
                    Таблетки хорошие. Раньше меня жена какие-то
                    компрессы заставляла делать, а теперь
                    я освободился от этих мучений.
                    Спокойно хожу на рыбалку по 2 км туда и назад.
                    Ноги не болят
                    и не опухают.
                </div>
                <div class="icon-more">
                    <div class="icon-more__in"></div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews9.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Ольга, 49 лет,
                        </span>
                        <span class="reviews__city">
                            г. Ростов-на-Дону
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars5.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text">
                    Столько всего уже перепробовала, что успела
                    разочароваться в подобных средствах.
                    Подкупил конский каштан в составе, много
                    слышала о его полезных характеристиках. Пью их месяц
                    и пока полностью излечиться не получилось.
                    Но от них становится легче и они хорошо снимают отечность.
                    Буду продолжать их принимать.
                </div>
                <div class="icon-more">
                    <div class="icon-more__in"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--REVIEWS END-->