<!--REVIEWS START-->
<section class="reviews">
    <div class="container">
        <h2 class="title">
            Отзывы о <span class="prod-name">Флеатон</span>
        </h2>
        <div class="reviews__list">
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews1.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Мария, 45 лет,
                        </span>
                        <span class="reviews__city">
                            г. Владимир
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text">
                    Примерно год назад у меня на ногах появились “звездочки”.
                    Не&nbsp;скажу, что они прям сильно болели,
                    но выглядело это очень неэстетично.
                    До того, как попробовать Флеатон,
                    я пробовала много препаратов.
                    Эти таблетки очень быстро вернули мои ноги
                    в&nbsp;нормальное состояние!
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews2.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Александр, 47 лет,
                        </span>
                        <span class="reviews__city">
                            г. Барнаул
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    У супружницы после родов стали страдать ноги от варикоза.
                    Компрессы, мази, бинтования —
                    и эта жуть продолжалась уже лет 10.
                    Как-то услышал о таблетках Флеатон от коллеги и
                    решил их жене прикупить тоже.
                    Скажу как есть, особых надежд не было, но спустя 3
                    недели ей действительно стало легче.
                    Теперь никаких компрессов с мокрицей
                    по вечерам.
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews3.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Варвара, 54 года,
                        </span>
                        <span class="reviews__city">
                            г. Москва
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    Я работала в магазине продавщицей.
                    От стояния по 10-12 часов в день развился варикоз.
                    На икре был очень болезненный узелок и вены все видны как под стеклом.
                    Не могла даже на рынок сходить купить что нибудь — возвращалась,
                    хромая на одну ногу. Подруга мне сказала, что к
                    врачам нет смысла идти, поэтому я занялась своей проблемой сама.
                    Пила таблетки Флеатон, принимала контрастный душ.
                    Делала это каждый день и через месяц увидела результаты:
                    узелок стал меньше болеть, вены почти не видны.
                    А еще я теперь с рынка возвращаюсь как нормальный человек.
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews4.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Вера, 56 лет,
                        </span>
                        <span class="reviews__city">
                            г. Казань
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    Воюю с варикозом уже давно.
                    Чего только не пробовала лишь бы избавиться от этой напасти —
                    и компрессионные чулки,
                    и компрессы со всем чем только можно. Один раз даже на пиявки решилась... Это был ужас, который до сих пор мне ночью снится. На каком-то из форумов узнала о таблетках Флеатон. Начиталась позитивных отзывов и заказала себе. Посылка пришла вовремя
                    и понравилось, что оплатить ее можно при получении.
                    О результатах пока рано что то говорить.
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews5.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Марина, 48 лет,
                        </span>
                        <span class="reviews__city">
                            г. Омск
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    Голубоватые узелки и опухшие ноги к вечеру — вот
                    она расплата за любовь к высоким каблукам.
                    Хоть я уже давно не могу позволить себе такую обувь,
                    но варикоз от этого никуда не пропал.
                    Наоборот со временем все симптомы начали только усугубляться.
                    Таблетки флеатон стали для меня настоящим открытием.
                    Думала так и буду ходить всю жизнь в балетках и брюках.
                    Ан-нет! Пропила их около месяца и все как рукой сняло!
                    Всем рекомендую!
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews6.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Николай, 62 года,
                        </span>
                        <span class="reviews__city">
                            г. Челябинск
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    У меня варикоз уже давно, все из-за стоячей работы.
                    Особо внимания на него не обращал, думал ничего страшного.
                    А тут у меня друг неожиданно умер (как и я на заводе работал).
                    Сделали вскрытие и оказалось, что тромб в венах на ногах оторвался
                    и от этого у него произошел инфаркт, а потом и смерть…
                    Вот тут то мне стало страшно и я заказал таблетки
                    Флеатон, которые мне посоветовала сестра.
                    Пропил их и знаете стал чувствовать себя гораздо лучше.
                    Прошли отеки, а ноги не болят даже к концу рабочего дня.
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews7.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Анна, 61 год,
                        </span>
                        <span class="reviews__city">
                            г. Екатеринбург
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    Долго решалась на операцию
                    (это все таки дорогое и опасное удовольствие).
                    Уж было окончательно решилась, как знакомая флиболог рассказала,
                    что удаление “выпирающих” вен
                    не решит проблему с сосудами.
                    Потом мне знакомая порекомендовала флеатон.
                    Поначалу забывала их пить вечером, но потом привыкла.
                    Понравилось, что не нужно ничего намазывать, втирать,
                    ждать пока впитается. Просто выпил,
                    а дальше таблетки сами делают свое дело.
                    Сейчас чувствую себя лучше и визуально почти ничего не видно.
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews8.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Григорий, 65 лет,
                        </span>
                        <span class="reviews__city">
                            г. Нижний Новгород
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text">
                    Таблетки хорошие. Раньше меня жена какие-то
                    компресы заставляла делать, а теперь
                    я освободился от этих мучений.
                    Спокойно хожу на рыбалку по 2 км туда и назад.
                    Ноги не болят
                    и не опухают.
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__img-box">
                    <img src="img/reviews9.jpg" alt="">
                </div>
                <div class="reviews__info">
                    <div class="reviews__left">
                        <span class="reviews__name">
                            Ольга, 57 лет,
                        </span>
                        <span class="reviews__city">
                            г. Ростов-на-Дону
                        </span>
                    </div>
                    <div class="reviews__right">
                        <span class="reviews__stars">
                            <img src="img/stars.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="reviews__text reviews__text_long">
                    Столько всего уже перепробовала, что успела
                    разочароваться в подобных средствах.
                    Подкупил конский каштан в составе, много
                    слышала о его полезных характеристиках. Пью их месяц
                    и пока полностью излечиться не получилось.
                    Но от них становится легче и они хорошо снимают отечность.
                    Буду продолжать их принимать.
                </div>
                <div class="icon-more">
                    <div class="icon-more__in"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--REVIEWS END-->