<section class="consist block grey">
    <div class="container">
        <h2 class="title consist__title">
            В одной таблетке <span class="big-orange">Флеатон</span> — все рецепты
            народной медицины
        </h2>
        <h3 class="consist__subtitle">
            Благодаря богатому составу препарата
        </h3>
        <div class="consist__des">
            <h4 class="consist__des-title green">
                Конский каштан,
            </h4>
            <p class="consist__des-text">
                собранный в экологически чистой дикой природе Балканских гор.
                Это&nbsp;позволяет сохранить его насыщенный химический состав на <span class="consist__des-text--med green">100%</span>,
                гарантируя качество компонента
            </p>
        </div>
        <div class="consist__content">
            <div class="consist__left">
                <div class="consist__item consist__item--left">
                    Тонизирует и улучшает состояние сосудов
                </div>
                <div class="consist__item consist__item--left">
                    Борется с ломкостью капилляров
                </div>
                <div class="consist__item consist__item--left">
                    Нормализует
                    состав&nbsp;крови
                </div>
            </div>
            <div class="consist__center">
                <img src="img/consist__img-1.png" alt="foto" class="consist__center-foto">
            </div>
            <div class="consist__right">
                <div class="consist__item consist__item--right">
                    Снижает вероятность появления новообразований
                </div>
                <div class="consist__item consist__item--right">
                    Снимает отеки
                </div>
                <div class="consist__item consist__item--right">
                    Обезболивает
                </div>
            </div>
        </div>
        <div class="consist__dop">
            <div class="consist__dop-title">
                Дополнительные ингредиенты усиливают
                действие средства
            </div>
            <div class="consist__dop-content">
                <div class="consist__dop-item">
                    <div class="consist__dop-img">
                        <img src="img/consist__img-2.png" alt="foto" class="consist__dop-foto">
                    </div>
                    <h4 class="consist__dop-des">
                        Виноградные косточки

                    </h4>
                    <p class="consist__dop-text">
                        Укрепляют стенки капилляров и вен, улучшают кровообращение

                    </p>
                </div>
                <div class="consist__dop-item consist__dop-item--center">
                    <div class="consist__dop-img">
                        <img src="img/consist__img-3.png" alt="foto" class="consist__dop-foto">
                    </div>
                    <h4 class="consist__dop-des">
                        Гинкго билоба

                    </h4>
                    <p class="consist__dop-text">
                        Препятствует тромбообразованию, повышает прочность и эластичность стенок сосудов

                    </p>
                </div>
                <div class="consist__dop-item">
                    <div class="consist__dop-img">
                        <img src="img/consist__img-4.png" alt="foto" class="consist__dop-foto">
                    </div>
                    <h4 class="consist__dop-des">
                        Листья березы

                    </h4>
                    <p class="consist__dop-text">
                        Снимают отеки и воспаления, помогают укрепить сосуды

                    </p>
                </div>
            </div>
        </div>
        <div class="consist__footer">
            Как результат, таблетки <span class="big-orange">Флеатон</span>
            оказывают мощное <span class="consist__fiol">противодействие варикозу</span>
            на различных стадиях заболевания
        </div>
        <div class="btn consist__btn">
            Заказать
        </div>
    </div>
</section>