<section class="how">
    <div class="container">
        <h2 class="title how__title">
            Как заказать <span class="big-orange">Флеатон</span>
        </h2>
        <div class="how__content">
            <div class="how__item">
                <div class="how__item-img">
                    <span class="how__item-line how__item-line--top"></span>
                    <span class="how__item-line how__item-line--bottom"></span>
                    <img src="img/how__img-1.jpg" alt="foto" class="how__item-foto">
                </div>
                <div class="how__item-wrap">
                    <h4 class="how__item-title">
                        Заполните форму заказа
                    </h4>
                    <p class="how__item-text">
                        Укажите только свое&nbsp;имя <br>
                        и&nbsp;номер телефона
                    </p>
                </div>
            </div>
            <div class="how__item">
                <div class="how__item-img">
                    <span class="how__item-line how__item-line--top"></span>
                    <span class="how__item-line how__item-line--bottom"></span>
                    <img src="img/how__img-2.jpg" alt="foto" class="how__item-foto">
                </div>
                <div class="how__item-wrap">
                    <h4 class="how__item-title">
                        Ответьте на&nbsp;звонок оператора

                    </h4>
                    <p class="how__item-text">
                        Он уточнит ваши адресные данные <br>
                        и&nbsp;ответит на&nbsp;все вопросы <br>
                        о&nbsp;<span class="how__orange">Флеатоне</span>
                    </p>
                </div>
            </div>
            <div class="how__item">
                <div class="how__item-img">
                    <span class="how__item-line how__item-line--top"></span>
                    <span class="how__item-line how__item-line--bottom"></span>
                    <img src="img/how__img-3.jpg" alt="foto" class="how__item-foto">
                    <img src="img/product-pack.png" alt="prod" class="how__item-prod">
                    <img src="img/product-chesnut.png" alt="el" class="how__item-el">
                </div>
                <div class="how__item-wrap">
                    <h4 class="how__item-title">
                        Оплатите после получения
                    </h4>
                    <p class="how__item-text">
                        Никаких предоплат!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>