<!--DOCTOR START-->
<section class="doctor block">
    <div class="container">
        <h2 class="title">
            Спасти себя
            <br><span>без уколов и операций — это реально!</span>
        </h2>
        <article class="doctor__text-box">
            <p class="doctor__text_bold">
                Флебологи в ходе клинических исследований
                обнаружили лидера в борьбе с варикозом — <span class="green-text">методы
                на&nbsp;основе народной медицины</span>.
            </p>
            <p class="doctor__text_bold doctor__text_push">
                Но, как известно, у них есть ряд недостатков:
            </p>
            <ul class="doctor__list doctor__text">
                <li class="doctor__item">
                    процедуры занимают много времени;
                </li>
                <li class="doctor__item">
                    в современном мире экологически чистые целебные
                    компоненты — редкость;
                </li>
                <li class="doctor__item">
                    можно не угадать с дозировкой и&nbsp;нанести вред организму;
                </li>
                <li class="doctor__item">
                    важна регулярность;
                </li>
                <li class="doctor__item">
                    результата нужно ждать долго.
                </li>
            </ul>
            <p class="doctor__text doctor__text_push2">
                Перед нашими провизорами-технологами возникла задача:
                как&nbsp;создать <span class="green-text">максимально удобное и&nbsp;полезное средство от
                варикоза</span> на основе рецептов народной медицины?
            </p>
            <p class="doctor__text doctor__text_push3">
                После долгой и&nbsp;кропотливой работы они вывели уникальную формулу,
                которая собрала в&nbsp;себе все секреты народной медицины.
                Эта уникальная формула — в&nbsp;основе таблеток <span class="prod-name">Флеатон</span>.
            </p>
        </article>
    </div>
</section>
<!--DOCTOR END-->