<section class="research block">
    <div class="research__container container">
        <div class="research__top">
            <div class="research__caption">
                <h2 class="accent-orange" alt="Флеатон">Флеатон</h2>
                <p>сделал лечение простым как никогда ранее, <br>сохранив в себе все преимущества народной медицины</p>
            </div>
            <div class="research__pack pack">
                <img src="img/product-pack.png" alt="" class="pack__product">
                <img src="img/product-chesnut.png" alt="" class="pack__chesnut">
            </div>
        </div>
        <div class="research__stats">
            <h2 class="research__title title">В ходе испытаний <strong class="accent-orange">Флеатон</strong> среди 2352 добровольцев уже после одного курса применения:</h2>
            <ul class="research__stats-list">
                <li class="research__stats-item">
                    <div class="research__stat decoration-border">
                        <span>95<small>%</small></span>
                    </div>
                    <p class="research__stat-description">полностью избавились от&nbsp;проблем с&nbsp;варикозом</p>
                </li>
                <li class="research__stats-item">
                    <div class="research__stat decoration-border">
                        <span>98<small>%</small></span>
                    </div>
                    <p class="research__stat-description">отмечают визуальное исчезновение симптомов</p>
                </li>
                <li class="research__stats-item">
                    <div class="research__stat decoration-border">
                        <span>99<small>%</small></span>
                    </div>
                    <p class="research__stat-description">вновь ощутили легкость в&nbsp;ногах</p>
                </li>
            </ul>
        </div>
    </div>
</section>